* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: inter, sans-serif;
}
.page_header {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 1fr;
  align-items: center;
  /* background-color: red; */
  padding-top: 1rem;
  font-size: 18px;
}
.page_header h1 {
  margin-left: 8rem;
  /* background-color: brown; */
  display: block;
  line-height: 160%;
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 25px;
  /* -webkit-text-size-adjust: 100%; */
  unicode-bidi: isolate;
}
.nav_area {
  display: flex;
  list-style: none;
  /* justify-content: space-between; */
  /* margin-top: 2rm; */
  gap: 2rem;
  font-size: 1.2rem;
  /* text-decoration: none; */
  /* background-color: blue; */
  color: black;
}
.nav-list .nav-link {
  color: black;
  text-decoration: none;
  justify-self: center;
}
.cta_cont {
  /* justify-self: center; */
}
.main_page {
  display: grid;
}
.main_page .title_top {
  text-align: center;
  font-weight: 770;
  font-size: 70px;
  padding: 0 19rem;
  line-height: 1.2;
  margin-top: 125px;
}
.title_des {
  text-align: center;
  font-size: 18px;
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  padding: 0 20rem;
  line-height: 1.2;
  margin-top: 25px;
  margin-bottom: 2rem;
}
.main_page button {
  text-align: center;
  background-color: #2a67f4;
  padding: 14px 35px;
  color: white;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 500;
  border-color: #2a67f4;
}
.cta_cont {
  grid-column-gap: 10px;
  grid-row-gap: 1opx;
  unicode-bidi: isolate;
  font-size: 18px;
  grid-column-gap: 10px;
}
.cta_cont .signin_btn {
  border-radius: 3px;
  max-width: 1024px;
  background-color: #f5f6fa;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  font-size: 18px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  padding: 15px 35px;
}
.cta_cont .signup_btn {
  max-width: 1024px;
  background-color: #2a67f4;
  color: #fff;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  border-radius: 3px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-right: auto;
  margin-right: auto;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  height: 200px;
  padding: 15px 35px;
}
.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.header2 {
  padding: 7rem;
}
.subtitle1 {
  font-size: 1.2rem;
  margin-top: 1.1rem;
  margin-bottom: 1.3rem;
  line-height: 1.6rem;
}
.schedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.schedule_first_cont {
  /* background-color: red; */
  /* height: 15rem; */
  width: 90%;
  list-style: none;
}
.schedule_second_cont {
  /* background-color: #2a67f4; */
  /* height: 15rem; */
  width: 90%;
  list-style: none;
}
.schedule_third_cont {
  /* background-color: yellow; */
  /* height: 15rem; */
  width: 90%;
  list-style: none;
}
.schedule_first_cont li {
  height: 5rem;
  border: 2px solid blue;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.schedule_first_cont li:first-child {
  background-color: #2a67f4;
  height: 3rem;
  border: none;
  color: #fff;
}
.schedule_second_cont li {
  height: 5rem;
  border: 2px solid orange;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.schedule_second_cont li:first-child{
   background-color: orange;
  height: 3rem;
  border: none;
  color: #fff;
}
.schedule_third_cont li {
  height: 5rem;
  border: 2px solid purple;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.schedule_third_cont li:first-child{
   background-color: purple;
  height: 3rem;
  border: none;
  color: #fff;
}