* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: inter, sans-serif;
}
.page_header {
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 1fr;
  align-items: center;
  /* background-color: red; */
  padding-top: 1rem;
  font-size: 18px;
}
.page_header h1 {
  margin-left: 8rem;
  /* background-color: brown; */
  display: block;
  line-height: 160%;
  font-family: Inter, sans-serif;
  font-weight: 800;
  font-size: 25px;
  /* -webkit-text-size-adjust: 100%; */
  unicode-bidi: isolate;
}
.nav_area {
  display: flex;
  list-style: none;
  /* justify-content: space-between; */
  /* margin-top: 2rm; */
  gap: 2rem;
  font-size: 1.2rem;
  /* text-decoration: none; */
  /* background-color: blue; */
  color: black;
}
.nav_area .nav-list .nav-link:hover {
  color: #0d37f3;
}
.nav-list .nav-link {
  color: black;
  text-decoration: none;
  justify-self: center;
}
.cta_cont {
  /* justify-self: center; */
}
.menu_icon {
  width: 5rem;
  display: none;
}
.main_page {
  display: grid;
}
.main_page .title_top {
  text-align: center;
  font-weight: 770;
  font-size: 85px;
  padding: 0 19rem;
  line-height: 1.2;
  margin-top: 125px;
}
.title_des {
  text-align: center;
  font-size: 20px;
  font-family: inter;
  font-style: normal;
  font-weight: 400;
  padding: 0 20rem;
  line-height: 1.2;
  margin-top: 25px;
  margin-bottom: 2rem;
}
.main_page button {
  text-align: center;
  background-color: #2a67f4;
  padding: 14px 35px;
  color: white;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 500;
  border-color: #2a67f4;
}
.cta_cont {
  grid-column-gap: 10px;
  grid-row-gap: 1opx;
  unicode-bidi: isolate;
  font-size: 18px;
  grid-column-gap: 10px;
}
.cta_cont .signin_btn:hover {
  color: #0d37f3;
}
.cta_cont .signup_btn:hover {
  color: #ffffff;
  background-color: #0e43be;
}
.cta_cont .signin_btn {
  border-radius: 3px;
  max-width: 1024px;
  background-color: #f5f6fa;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  font-size: 18px;
  font-weight: 500;
  color: #222;
  text-decoration: none;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  padding: 15px 35px;
}
.cta_cont .signup_btn {
  max-width: 1024px;
  background-color: #2a67f4;
  color: #fff;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  border-radius: 3px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  margin-right: auto;
  margin-right: auto;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  height: 200px;
  padding: 15px 35px;
}
.title_des .button:hover {
  color: #ffffff;
  background-color: #052672;
}
.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.header2 {
  padding: 7rem 7rem 2rem 7rem;
}
.subtitle1 {
  font-size: 1.2rem;
  margin-top: 1.1rem;
  margin-bottom: 1.3rem;
  line-height: 1.6rem;
}
.schedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.schedule_first_cont {
  /* background-color: red; */
  /* height: 15rem; */
  width: 90%;
  list-style: none;
}
.schedule_second_cont {
  /* background-color: #2a67f4; */
  /* height: 15rem; */
  width: 90%;
  list-style: none;
}
.schedule_third_cont {
  /* background-color: yellow; */
  /* height: 15rem; */
  width: 90%;
  list-style: none;
}
.schedule_first_cont li {
  height: 5rem;
  border: 2px solid blue;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.schedule_first_cont li:first-child {
  background-color: #2a67f4;
  height: 3rem;
  border: none;
  color: #fff;
}
.schedule_second_cont li {
  height: 5rem;
  border: 2px solid orange;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.schedule_second_cont li:first-child {
  background-color: orange;
  height: 3rem;
  border: none;
  color: #fff;
}
.schedule_third_cont li {
  height: 5rem;
  border: 2px solid purple;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.schedule_third_cont li:first-child {
  background-color: purple;
  height: 3rem;
  border: none;
  color: #fff;
}
.progress-section {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #e2e9fa;
  width: 100%;
  /* height: 60vh; */
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}
.icon {
  font-size: 40px;
  margin-bottom: 20px;
}
.stay-empowered {
  font-size: 2rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 15px;
}
.emp-des {
  font-size: 20px;
  color: #6b7280;
  line-height: 1.8;
  font-weight: 400;
  color: black;
}
.activity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 40px;
  /* width: 70%; */
  row-gap: 20px;
}
.activity img {
  width: 75%;
}

footer {
  background: #1a1a1a;
  padding: 50px 80px 20px;
}
.footer-cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  border-bottom: 30px;
}
.footer-col h3 {
  font-size: 2opx;
  margin-bottom: 2opx;
  color: #fff;
}
.footer-col ul {
  list-style: none;
}
.footer-col ul li {
  margin-bottom: 12px;
}
.footer-col ul li a {
  text-decoration: none;
  color: #bbb;
  transition: 0.3s;
}
.footer-col ul li a:hover {
  color: white;
}
.store-buttons img {
  width: 170px;
  margin-bottom: 15px;
  border: 1px solid #555;
  border-radius: 10px;
}
.footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: #999;
  font-size: 14px;
}
.footer-bottom-left,
.footer-bottom-right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-bottom a {
  color: #999;
  text-decoration: none;
}
.footer-bottom a:hover {
  color: white;
}

@media (max-width: 75em) {
  .nav_area {
    display: none;
  }
  .page_header {
    grid-template-columns: 1fr 1fr;
  }
  .cta_cont {
    grid-row: 1;
    grid-column: 2;
    justify-self: right;
    padding-right: 5rem;
  }

  .main_page .title_top {
    padding: 0 2rem;
  }
}
@media (max-width: 59em) {
  .title_des {
    padding: 0 10rem;
  }
}

@media (max-width: 44em) {
  .page_header h1 {
    margin-left: 0;
    padding-left: 2rem;
  }

  .cta_cont {
    padding-right: 2rem;
    display: none;
  }
  .menu_icon {
    display: inline-block;
    grid-row: 1;
    grid-column: 2;
    justify-self: right;
    padding-right: 2rem;
  }
  .schedule {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  .activity {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    justify-items: center;
  }
  .header2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .title_des {
    padding: 0 2rem;
  }
  footer {
    padding: 10rem 2rem;
  }
  .main_page .title_top {
    font-size: 40px;
  }
}
@media (max-width: 25.5em) {
}
